<app-menu></app-menu>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-info">Manage <b>Books</b></h2>
        </div>
    </div>
    <div class="row mt-3 mb-4">
        <div class="col-md-4">
          <button (click)="showCreatePage()" class="btn btn-success"><i class="bi bi-journal-plus"></i> Add new book </button>
        </div>
    </div>
    <div class="alert alert-success" *ngIf='message'>{{message}}</div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-secondary">Title</th>
                <th class="text-secondary">Description</th>
                <th class="text-secondary">Author</th>
                <th class="text-secondary">Category</th>
                <th class="text-secondary">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.title}}</td>
                <td>{{book.description}}</td>
                <td>{{book.author.name}}</td>
                <td><span *ngFor="let category of book.categories">{{category.name+' '}}</span></td>
                <td>
                    <button (click)="showUpdatePage(book.bookId)" class="btn"><i class="bi bi-pencil" style="color:green"
                            title="Edit book"></i></button>

                    <button (click)="deleteBook(book.bookId)" class="btn"><i class="bi bi-trash" style="color:red"
                            title="Delete book"></i></button>

                </td>
            </tr>
        </tbody>
    </table>
</div>